<h1>Example App: Home</h1>

 {{#each contacts}}
            <tr data-contact-guid="{{guid}}">
              <td><i class="fa fa-male"></i> {{title}}</td>
              <td>{{year}}</td>
              <td>{{link}}</td>
              <td>{{description}}</td>
            </tr>
{{/each}}