<h2>CV</h2>
<h3> Permanent Beta </h3>

<section class="experience">
	<h3>Education</h3>

		{{#each experience}}
			<article class="experience-wrapper">
					<h2 class="title" > {{title}} <span> at </span> {{company}} </h2> 
					<div class="time" >{{time}}</div>
					<p class="time" >{{description}}</p>
			</article>
		{{/each}}

</section>


<section class="education">
	<h3>Education.</h3>

		{{#each education}}
			<article class="education-wrapper">
					<h2 class="title" > {{title}} <span> at </span> {{university}} </h2> 
					<div class="time" >{{time}}</div>
					<p class="time" >{{description}}</p>
			</article>
		{{/each}}
</section>

<section class="about">
	<h3>About.</h3>

			{{about}}

</section>


<section class="skills">
	<h3>Skills.</h3>
	
		{{#each skills.software}}
			<article class="skill-wrapper">
					<h3 class="skill" > {{program}}</h3> 
			</article>
		{{/each}}

</section>