<h1>Work</h1>

<div class="project-wrapper">
	{{#each contacts}}
	        <div class="project left" data-contact-guid="{{guid}}">

				<div class="project-img right">
					<img src="/img/{{img}}" alt="Project Image">
				</div>
		            
	            <div class="project-content left">
	              <a class="link" href="{{link}}">
	              	<h2 class="title" >{{title}}</h2>
	              </a>
	              <div class="descrip" >{{description}}</div>
				</div>
					
	        </div>
	{{/each}}
</div>



