<h1>Work</h1>

<div class="project-wrapper">
	{{#each contacts}}
	            <div class="project" data-contact-guid="{{guid}}">
	              <h2 class="title" >{{title}}</h2>
	              <a class="link" href="{{link}}">Visit Project</a>
	              <div class="descrip" >{{description}}</div>
	              <div class="year" >{{year}}</div>

	            </div>
	{{/each}}
</div>